*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.explore-menu{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.explore-menu h1{
    color: #262626;
    font-weight: 500;
}
.explore-menu-text{
    max-width: 60%;
    column: #e8c5c5;
}
.explore-menu-list{
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 170px;
    cursor: pointer;
    border-radius: 1%;
    transition: 0.2s;
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}

.explore-menu hr{
    margin: 10px 0px;
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active{
    border: 1px solid #e22b56;
    padding: 2px;
}

.btn-crud button{
    border: none;
    padding: 5px;
    border-radius: 4px;
    color: white;
    background-color: grey;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.explore-menu-list button{
    width: 50px;
    align-items: center;
    border: none;
    padding: 1px;
    border-radius: 3px;
    color: white;
    background-color: orange;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    gap : 10px;
}

.custom-file-input {
    position: relative;
  }
  
  .custom-file-input input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    cursor: pointer;
  }
  
  .custom-file-input span {
//    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .custom-file-input span:hover {
    background-color: #f2f2f2;
  }
  
  .custom-file-input span{
    margin-top: 20px;
    display: flex;
    justify-content: left;
    gap: 10px;
    width: 20%;
}

.btn-crud input{
    margin-top: 10px;
    display: flex;
}
